.docContainer {
    background-color: #fff;
    padding: 20px 10%;
    color: #333;
}

.docContainer form {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.doc-main {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.doc-main label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.doc-main input[type='file'] {
    width: calc(100% - 80px);
    margin-right: 10px;
}

.doc-main button {
    display: flex;
    padding: 11px;
    background: rgba(228, 236, 253, 1);
    color: rgba(64, 123, 255, 1);
    border: none;
    border-radius: 4px;
}


.checkContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.checkContainer input {
    margin-right: 10px;
    margin-top: 5px;
}

.checkContainer p {
    font-size: 14px;
}

.doc-innerDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}